@font-face {
    font-family: Roboto-Light;
    src: url(..\..\fonts\Roboto-Light.ttf);
}
body{
    margin: 0;
}
.toolbar-wrapper{
    display:flex;
    justify-content: space-between;
    height: 2em;
    align-items: center;
    margin-bottom: 10px;
}
.icon-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.icon{
    margin: 5px;
    color: #E65F5C;
}
.header{
    color: #E65F5C;
}
.chart-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
a{
    color: inherit;
    text-decoration: none;
}
#top-of-page{
    background-color: #083D77;
}